workflow-1/my-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9713ef60-a7fe-4bd6-a1df-7d713def66bb",
      "name": "Telegram Trigger",
      "webhookId": "d64c00b8-4ed2-4e13-aacb-ed80a9336b8e",
      "credentials": {
        "telegramApi": {
          "id": "MSrnlwoJOA8WXEcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        224
      ],
      "id": "bab65a26-dea4-4521-907c-c283eeaf9e06",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xWgCqz35WY4Y67pT",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "6fcf6dd3-c084-40a5-b729-b1b51f4520a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}{{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "38c44e63-9887-47b9-b05b-982507117bb3",
      "name": "Send a text message",
      "webhookId": "38c1e78c-482e-4133-8002-39058b7767dc",
      "credentials": {
        "telegramApi": {
          "id": "MSrnlwoJOA8WXEcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ Math.random().toString(36).slice(2) }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        240
      ],
      "id": "cc3a0efd-4134-49b1-8df0-0bbfcc98a9fa",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ba55248-5e02-43c4-b22b-abf0ed437c02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03fbdf3c225f01abe31257378831eba650955a6884e96c21e8a3b1e4a274a05f"
  },
  "id": "lQZxDbbPR3VJqTCZ",
  "tags": []
}