workflow-3/databaseVektor.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1008,
        1872
      ],
      "id": "7813ab14-2ccf-4c82-83fb-bb5fb6fc1b13",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n2",
          "mode": "list",
          "cachedResultName": "n8n2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        1360
      ],
      "id": "db3040dc-167f-46c5-8015-ff9ca7825d46",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "b7ZcLP8ZVTmfdoFQ",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        1584
      ],
      "id": "5a392686-ccb1-469e-bdec-058820574a1e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ksIvZufSLz4aPT6h",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        1600
      ],
      "id": "2a2d7b6b-55d3-4f81-bc8b-31988ea5de74",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jkZiAtzmLTgS1yH39Gq3_Xa-27p6eLZP",
          "mode": "list",
          "cachedResultName": "Logic",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jkZiAtzmLTgS1yH39Gq3_Xa-27p6eLZP"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        384,
        1360
      ],
      "id": "f36ff26c-0e4e-4585-915a-131ea8b60ddd",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HSozuNyu5oMUzdUB",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        1360
      ],
      "id": "e63bdcaa-add4-4fce-9739-ede441b3f91d",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HSozuNyu5oMUzdUB",
          "name": "Google Drive account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b0555742-8655-4628-b5c5-a64eb934665e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03fbdf3c225f01abe31257378831eba650955a6884e96c21e8a3b1e4a274a05f"
  },
  "id": "9eX37XEqUYGQyAR6",
  "tags": []
}